@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h2>Welcome to the Coffee Shop 6.0!</h2>
	<p>Please @Html.ActionLink("register", "Register", "Home") so you can enjoy some coffee and earn some rewards!</p>
</div>