@{
	ViewData["Title"] = "Home Page";
}

<script src="~/js/app.js"></script>

<button onclick="getTallestMountian()">Tallest Mountian</button>
<hr />
<button onclick="getAveragePrice()">Average Product Price</button>
<hr />
<button onclick="getTotalValue()">Total Inventory Value</button>