
@{
    ViewBag.Title = "Terms & Conditions";
}

<h2>@ViewBag.Title</h2>

<p>By agreeing to these terms and conditions you agree to buy $5,000 worth of coffee per month.  If you do not reach that minimum amount, you must pay us the difference.  You are not allowed to drink coffee from anywhere else.  We own everything you have and everything you do.</p>