  
<h1>{{title}}</h1>
<br />
<table>
	<tr>
			<div *ngFor="let item of toDoList">
			<td style="width: 75px;">
				<button *ngIf="item.done==false" (click)="completeItem(item)">Complete</button>
			</td>
			<td>{{item.theItem}}</td>
			<td><button (click)="deleteItem(item)">X</button></td>
		</div>
	</tr>
</table>
<br />
<input type="text" #userinput (keyup.enter)="addItem(userinput.value); userinput.value=''">
<br />
<button (click)="addItem(userinput.value); userinput.value=''">Add ToDo</button>