<fieldset class="lineItUp">
	<h1>{{title}}</h1>
	<!--<input class="bigText" type="text" #filter (keyup.enter)="filterTask(filter.value); filter.value=''" placeholder="Add your to-dos">-->
	<table>
		<ol>
			<div *ngFor="let item of toDoList">
				<li>
					<tr>
						<td><button class="complete" *ngIf="item.completed==false" (click)="completeTask(item)">Complete</button></td>
						<td class="task"><span [ngClass]="{'completed' : item.completed == true}">{{item.task}}</span></td>
						<td><button class="remove" (click)="removeTask(item)"><b>X</b></button></td>
					</tr>
				</li>
			</div>
		</ol>
	</table>
	<b *ngIf="allTasksComplete()">Congrats on Completing All Your Tasks</b>
	<input type="text" class="bigText" #newTask (keyup.enter)="addTask(newTask.value); newTask.value=''" placeholder="Add your to-dos">
	<br />
	<button class="bigButton" (click)="addTask(newTask.value); newTask.value=''">Add</button>
</fieldset>