
@{
	ViewData["Title"] = "SlackOverload";
}

    <div class="jumbotron" style="background-color:lightblue">
        <h1>Dev.Build SlackOverload</h1>
        <p class="lead"><b>Push Button. Get Answers.</b></p>

        <p><a href="/QandA/"class="btn btn-primary btn-lg">Ask or Answer a Question &raquo;</a></p>
        <br />
        <p><a href="/Home/Registration/" target="_blank" class="btn btn-primary btn-lg">Register Here &raquo;</a></p>

    </div>
@*<h1>Welcome to Dev.Build Slack Overload</h1>
<p>Please proceed to <a href="/QandA/">Questions</a> for any questions you may have or provide your own answers.</p>*@