
@{
	ViewData["Title"] = "SlackOverload";
}

<h1>Welcome to Dev.Build Slack Overload</h1>
<p>Please proceed to <a href="/QandA/">Questions</a> for any questions you may have or provide you're own answers.</p>