@model List<string>
@{
    ViewData["Title"] = "Product Categories";
}

<h1>Available Product Categories</h1>
<br />
<h2>Click on a category for a list of products.</h2>
<br />
<ul>
	@foreach (string category in Model)
	{
		<li><a href="/Products/Products?category=@category">@category</a></li>
	}
</ul>