@model List<Product>
@{
    ViewData["Title"] = "Products";
}

<h1>Available Products</h1>

<h2>Click on a product for details.</h2>
<ul>
	@foreach (Product product in Model)
	{
		<li><a href="/Products/ProductInfo?productID=@product.ID">@product.Name</a></li>
	}
</ul>