@model Answers
@{
	ViewData["Title"] = "Answer";
}

<h1>@ViewBag.PageName:</h1>

<form method="get" action="/QandA/SaveAnswer">
	<table style="border: 0px">
		<tr>
			<td><label name="details" title="Details" value="details">Answer:</label></td>
			<td><textarea name="details">@Model?.Details</textarea></td>
		</tr>
	</table>
	<input type="hidden" name="username" value="testuser" />
	<input type="hidden" name="answerID" value="@Model?.id" />
	<input type="hidden" name="questionID" value="@ViewBag.questionID" />
	<input type="hidden" name="upvotes" value="@Model?.Upvotes" />
	<br />
	<input type="submit" name="submit" value="Save" />
	<input type="submit" name="sumbit" value="Delete" />
	</form>